.header {
  margin-top: 5px;
}
.linkText {
  font-size: 1.5rem;
  color: lightgrey;
  text-shadow: 2px 2px 2px #000;
}
svg {
  width: 20px;
  height: 20px;
}
.header a {
  text-decoration: none;
  margin: auto;
}

.header ul {
  list-style-type: none;
  margin: auto;
}

.header li {
  margin: auto 9vw;
}
