<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid content_size">
      <button
        class="navbar-toggler content_button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="rgb(241, 214, 179)"
            class="bi bi-list"
            viewBox="0 0 16 16"
            filter
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </span>
      </button>
      <div class="collapse navbar-collapse nav_style" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./pages/materiaux.html">Matériaux</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/fabrication.html">Fabrication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/realisations.html"
              >Réalisations</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
