/* You can add global styles to this file, and also import other style files */

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Meow Script", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("./assets/multi_leather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
